*,
*::after,
*::before {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("https://plus.unsplash.com/premium_photo-1764688003195-eb84cb1afb08?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}

#heading1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 7px;
  text-align: center;
  font-size: 2rem;
}

legend {
  font-size: 1.2rem;
  padding: 3px;
}

label {
  display: block;
  font-size: 1.2rem;
  padding: 4px 0px;
  color: #252525;
}

label.checkboxLabel {
  display: inline-block;
  font-size: 1.04rem;
  margin: 2px 3px;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  width: 100%; /* fill container width */
  padding: 5px;
  font-size: 17px;
  border: 1px solid #858484;
  border-radius: 5px;
  box-sizing: border-box;
  color: #252525;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  background-color: white;
}

#jobRole,
#dob {
  border-radius: 6px;
  border: 1px solid #858484;
}

#jobRole:focus,
#dob:focus {
  outline: 1px solid #858484;
}

input:focus,
textarea:focus {
  outline: 1px solid #858484;
}

.genderRadioBtn {
  display: inline-block;
  font-size: 1.1rem;
  margin: 1px 3px;
}

fieldset {
  width: 100%;
  max-width: 45vw;
  display: block;
  height: fit-content;
  border-radius: 5px;
  padding: 4px;
  color: #252525;
}

input[type="checkbox"] {
  margin-right: 2px;
}

#jobRole,
#dob,
#resume {
  width: 50%;
  font-size: 1.06rem;
}

#fullNameErr,
#emailError,
#passwordErr,
#confirmPWErr,
#genderError,
#skillsErr,
#jobRoleErr,
#dobErr,
#resumeErr,
#aboutUserErr,
#otherRoleErr {
  font-family: Arial, Helvetica, sans-serif;
  visibility: hidden;
  font-size: 16px;
  color: #db0303;
  margin-top: 6px;
  font-weight: 500;
  padding: 0px;
}

form {
  width: fit-content;
  height: fit-content;
  background-color: rgba(249, 251, 253, 0.733);
  margin: 1rem auto;
  padding: 1rem 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); /* soft shadow */
}

.container {
  display: flex; /* use flexbox */
  flex-direction: column; /* stack items vertically */
  width: 38vw; /* fixed width relative to viewport */
  margin: 10px auto; /* center horizontally */
  padding: 5px;
  height: fit-content;
}

#submit-btn {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #198a99;
  padding: 0.8rem;
  border: 2px solid #186c77;
  border-radius: 5px;
  width: 80%;
  align-self: center;
  font-size: 1.3rem;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
}

#submit-btn:hover {
  cursor: pointer;
  background-color: white;
  color: #198a99;
}

#otherRole {
  display: none;
}

#resumeP {
  margin-bottom: 7px;
  font-size: 13px;
}

#passwordContainer {
  display: flex;
  justify-content: space-between;
}

#password,
#confirmPW {
  width: 90%;
}

#showPw,
#showCPw {
  width: 2.4rem;
  height: 2.4rem;
  display: inline-block;
}

#showPw:hover,
#showCPw:hover {
  cursor: pointer;
}
